<section class="info-section">
  <h2 class="section-header">
    <span>Ementa</span>
    <span class="material-icons settings-icon" (click)="openEditProgramModal()">settings</span>
  </h2>
</section>

<section class="info-section">
  <h2 class="section-header">
    <span>Objetivos</span>
    <span class="material-icons settings-icon" (click)="openEditCourseModal()">settings</span>
  </h2>
</section>

<section class="info-section">
  <h2 class="section-header">
    <span>Conteúdo programático</span>
    <span class="material-icons settings-icon" (click)="openEditLearningModal()">settings</span>
  </h2>
</section>

<section class="info-section">
  <h2 class="section-header">
    <span>metodologia</span>
    <span class="material-icons settings-icon" (click)="openEditMethodologyModal()">settings</span>
  </h2>
</section>

<section class="info-section">
  <h2 class="section-header">
    <span>Sistema de Avaliação</span>
    <span class="material-icons settings-icon" (click)="openEditAssessmentModal()">settings</span>
  </h2>
</section>

<app-edit-program 
  *ngIf="isEditProgramModalVisible" 
  (close)="closeEditProgramModal()">
</app-edit-program>

<app-edit-course 
  *ngIf="isEditCourseModalVisible" 
  (close)="closeEditCourseModal()">
</app-edit-course>

<app-edit-learning 
  *ngIf="isEditLearningModalVisible" 
  (close)="closeEditLearningModal()">
</app-edit-learning>

<app-edit-methodology 
  *ngIf="isEditMethodologyModalVisible" 
  (close)="closeEditMethodologyModal()">
</app-edit-methodology>

<app-edit-assessment 
  *ngIf="isEditAssessmentModalVisible" 
  (close)="closeEditAssessmentModal()">
</app-edit-assessment>