<div class="page-container">
  <app-sidebar></app-sidebar>

  <main class="content">
    <header class="content-header">
      <h1>Arquitetura de Software (ARQS-20002)</h1>
    </header>

    <div class="program-details">
      <section class="info-section">
        <h2 class="section-header">
          <span>Ementa</span>
          <span class="material-icons settings-icon">settings</span>
        </h2>
        <div class="section-content">
          <p>
            Estudo de princípios, estilos e padrões de arquitetura de software, abordando práticas para
            projetar sistemas escaláveis, robustos e de fácil manutenção.
          </p>
        </div>
      </section>

      <section class="info-section">
        <h2 class="section-header">
          <span>Objetivos</span>
          <span class="material-icons settings-icon">settings</span>
        </h2>
        <div class="section-content">
          <p>
            Capacitar o aluno a compreender e aplicar conceitos de arquitetura de software...
          </p>
        </div>
      </section>

      <section class="info-section">
        <h2 class="section-header">
          <span>Conteúdo programático</span>
          <span class="material-icons settings-icon">settings</span>
        </h2>
        <div class="section-content">
          <ul>
            <li>Introdução à Arquitetura de Software</li>
            <li>Papéis e responsabilidades do arquiteto de software</li>
          </ul>
        </div>
      </section>

      <section class="info-section">
        <h2 class="section-header">
          <span>metodologia</span>
          <span class="material-icons settings-icon">settings</span>
        </h2>
        <div class="section-content">
           <ul>
            <li>Aulas expositivas com apoio de recursos multimídia.</li>
            </ul>
        </div>
      </section>

      <section class="info-section">
        <h2 class="section-header">
          <span>Sistema de Avaliação</span>
          <span class="material-icons settings-icon">settings</span>
        </h2>
        <div class="section-content">
          <ul>
            <li>Provas teóricas (40%)</li>
            </ul>
        </div>
      </section>
    </div>

    <footer class="content-footer">
      <button class="action-button">Adicionar programa</button>
    </footer>
  </main>
</div>