<aside class="sidebar">
  <nav>
    <ul>
      <li>
        <a routerLink="page-login">
          <span class="material-icons">home</span>
          Página inicial
        </a>
      </li>
      <li class="active">
        <a routerLink="teachers">
          <span class="material-icons">people</span>
          Professores
        </a>
      </li>
      <li>
        <a routerLink="subjects">
          <span class="material-icons">menu_book</span>
          Disciplinas
        </a>
      </li>
      <li>
        <a routerLink="#">
          <span class="material-icons">calendar_today</span>
          Cronogramas
        </a>
      </li>
      <li>
        <a routerLink="courses">
          <span class="material-icons">grid_view</span>
          Matrizes curriculares
        </a>
      </li>
    </ul>
  </nav>
</aside>