<aside class="sidebar">
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/inicio']" routerLinkActive="active">
          <span class="material-icons">home</span>
          Página inicial
        </a>
      </li>
      <li>
        <a [routerLink]="['/teachers']" routerLinkActive="active">
          <span class="material-icons">people</span>
          Professores
        </a>
      </li>
      <li>
        <a [routerLink]="['/subjects']" routerLinkActive="active">
          <span class="material-icons">menu_book</span>
          Disciplinas
        </a>
      </li>
      <li>
        <a [routerLink]="['/schedule']" routerLinkActive="active">
          <span class="material-icons">calendar_today</span>
          Cronogramas
        </a>
      </li>
      <li>
        <a [routerLink]="['/course-list']" routerLinkActive="active">
          <span class="material-icons">grid_view</span>
          Matrizes curriculares
        </a>
      </li>
    </ul>
  </nav>
</aside>